<div class="hamburger-menu">
  <div class="links">
    <div *ngFor="let item of ('assets/package.json' | fetch) ">
      <div *ngIf="condition" class="hamburger-active">
        <div class="menu-items">
          <a href="#profile">{{item.base.elements.menu.a}}</a>
          <a href="#exhibitions">{{item.base.elements.menu.b}}</a>
          <a href="#works">{{item.base.elements.menu.c}}</a>
          <a href="#portfolio">{{item.base.elements.menu.d}}</a>
          <a href="#actions">{{item.base.elements.menu.e}}</a>
          <a href="#feedback">{{item.base.elements.menu.f}}</a>
          <a href="#review">{{item.base.elements.menu.g}}</a>
        </div>
      </div>
      <img (click)="condition = !condition" class="img-change"
           src="{{!condition ? item.main.elements[3].img1 : item.main.elements[3].img2}}">
    </div>
  </div>

</div>
<div *ngFor="let item of ('assets/package.json' | fetch) ">
  <div class="main">
    <a [routerLink]="'auth/login'"><img src="{{item.main.elements[0].img}}" id="mes" alt=""></a>
    <div class="logo">
      <img src="{{item.main.elements[1].img}}" id="img-2" alt="">
      <p>Artistic Avenue</p>
    </div>
    <p class="menu">
    <div class="element">
      <div class="el">
      </div>
      <div class="el">
        <p id="menu-1">{{item.main.elements[2].text.a.p}}</p>
        <img src="{{item.main.elements[2].text.a.img}}" id="menu1" alt="">
      </div>
      <div class="el">

        <p id="menu-2">{{item.main.elements[2].text.b.p}}</p>
        <img src="{{item.main.elements[2].text.b.img}}" id="menu2" alt="">

      </div>
      <div class="el">

        <p id="menu-3">{{item.main.elements[2].text.c.p}}</p>
        <a href=""><img src="{{item.main.elements[2].text.c.img}}" id="menu3" alt=""></a>
      </div>
    </div>
  </div>






