<div class="auth">
  <div class="auth-container">
    <div class="left-auth">
      <div class="title">Artistic Avenue</div>
      <div class="description">
        <div class="slogan">
          Your emotions can translate into art
        </div>
        <div class="text">
          Art refers to a diverse range of human activities in creating visual, auditory or performing artifacts. These
          artworks express the author's imaginative or technical skill. Art is intended to be appreciated for its beauty
          or emotional power.
        </div>
        <a href="/">
          <button class="enter">Visit our app</button>
        </a>
      </div>
    </div>
    <div class="right-auth">
      <div class="intro">
        Join Over 10 Million
        <br> Artists from around the world
      </div>
      <div class="text">
        The aim of art is to represent not the outward appearance of things, but their inward significance
      </div>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
