<div class="message">
  <div class="contact">
    <div class="user">
      <img [src]="user.image">
      <div class="name">{{user.name}}</div>
    </div>
    <div class="actions">
      <img src="assets/images/call.png">
      <img src="assets/images/video.png">
    </div>
  </div>

  <div class="send-message">
    <div class="message-input">
      <img class="link" src="assets/images/link.png">
      <input placeholder="Message">

    </div>
    <div class="send-button">
      <img src="assets/images/send.png">
    </div>
  </div>
</div>
