<div class="users-list">
  <div class="search">
    <input placeholder="Search">
  </div>
  <div class="list">
       <div class="user" *ngFor="let user of users">
         <div class="user-img">
           <img [src]="user.image">
         </div>
         <div class="user-description">
           <div class="name">
             <div class="user-name">
               {{user.name}}
             </div>
             <div class="date">
               {{user.last_visit}}
             </div>
           </div>
           <div class="description">{{user.description}}</div>
           <div class="status" [className]="user.status"></div>
         </div>
       </div>
  </div>
</div>

